.container-doctor {
  height: 380px;
  width: 270px;
  border-radius: 8px;
  background-color: white;
  
}

.mainCard-doctor {
  height: 360px;
  width: 350px;
  background: linear-gradient(144.2deg, #e1f3ff 0%, #2aa7ff 100%);
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  position: relative;
  display: flex;
  justify-content: center;
}

.mainCard-doctor > img {
  height: 330px;
  width: 280px;
  position: absolute;
  bottom: 0;
}

.content-doctor {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.content-doctor > h3 {
  margin: 10px;
  font-size: 24px;
  font-weight: 400;
  color: var(--secondary-color);
}

.department {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .container-doctor {
    width: 100%;
  }
}
