.right
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.lists
{
    width: 120px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.lists>img
{
    margin-right: 5px;
}

@media screen and (max-width:464px) 
{
    .lists{
        width: 200px;
    }
}